h2 {
    font-size: 5rem;
    font-weight: bold;
}

.prediction-form{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    border-radius: 5px;
}

.coming-soon{
min-height: 100vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day, .hour, .minute, .second{
    font-size: 3rem;
}

.intro-text{
    font-size: 20px;
}

.pic{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: right;
    max-width: 50%;
    min-height: 50%;
    object-fit: cover;
}

.goalsChart{
    
}


@media screen and (min-width: 480px){


}

@media screen and (min-width: 768px){

.prediction-form{
    
    flex-direction: column;
    justify-content: space-around;
}

.title-and-instructions{
    flex-direction: column;
    justify-content: space-around;
}
    
}

@media screen and (min-width:1024px){
    .prediction-form{
        flex-direction: column;
        justify-content: space-around;
        display: grid;
    }
}
   
    

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


